<h5>Your Date Location:</h5>
<h1><%= @response.name %></h1>

<!-- <p>Random number: <%= @rand_num %></p>
<p>Number of venues in db: <%= @number_of_venues %></p> -->
<%= image_tag(@response.image_url) %>
<p><%= @response.location.display_address %></p>
<p><%= link_to @response.url, @response.url %></p>
<%= image_tag(@response.rating_img_url) %>
<p><%= @response.rating %></p>


<%= link_to "Try Again", "/" %>
