<h1>Your Date Location</h1>

<!-- <p>Random number: <%= @rand_num %></p>
<p>Number of venues in db: <%= @number_of_venues %></p> -->
<h2><%= @venue.name %></h2>
<p><%= @venue.description %></p>
<p><%= @venue.address %></p>
<p><%= @venue.url %></p>

<p><a href="/">Try again</a></p>